<!DOCTYPE html>
<ion-view view-title="Cars View" hide-back-button="true" >
  <ion-nav-buttons side="right" > <!-- Agregado de Boton addClient LeBEEEEERNS -->
    <a id="addClient" class="button button-icon button-clear ion-plus"  href="#/app/addClientView"></a>
  </ion-nav-buttons>
  <ion-pane ng-controller="ClientesCtrl">
    <ion-content>
     <ion-list can-swipe="true">
       <ion-item ng-repeat="items in carros" class="item-thumbnail-right" ng-click="getCarro(items.id)" href="#/app/clientview">
         <img ng-src="{{items.img_url}}" >
         <h2>{{items.nombre}}</h2>

         <p >
					<span >
						<i class="ion ion-android-car" ></i >
						{{items.Modelo}}</span >
         </p >
         <p >
           <i class="ion ion-closed-captioning" ></i >
           {{items.placa}}
         </p >
         <p >
					<span >
						<i class="ion ion-ios-pulse" ></i >
						 {{items.ano | date: 'yyyy' }}</span >
					<span >
						<i class="ion ion-ios-information-outline" ></i >
                        <span ng-if="items.status == 'e'"> En espera </span>
                        <span ng-if="items.status == 'l'"> Listo </span>
						<span ng-if="items.status == 'p'"> Procesando </span>


                    </span >
         </p >

         <!--<div class="item item-button-right">-->
           <!--<h2>{{ cliente.nombre }} {{cliente.apellido}}</h2>-->
           <!--<p>{{ cliente.vehiculo }}</p>-->
           <!--<p>{{ cliente.placa }}</p>-->
           <!--<button class="button button-dash button-outline button-calm " >-->
           <!--</button>-->
         <!--</div>-->

         <ion-option-button class="button-assertive" ng-click="deleteCarro(items.id)" >Borrar</ion-option-button>
       </ion-item>
     </ion-list>
    </ion-content>
  </ion-pane>

</ion-view>
