<!DOCTYPE html>
<ion-view view-title="Perfil" hide-back-button="false" >
  <ion-nav-buttons side="right" > <!-- Agregado de Boton addClient LeBEEEEERNS -->
    <a id="editClient" class="button button-icon button-clear ion-android-create"  href=""></a>
  </ion-nav-buttons>
  <ion-pane ng-controller="ClientesCtrl">
    <ion-content ng-init="getProfile(getId()); getPhone(getId()); getEmails(getId())">
      <ion-list can-swipe="false">
        <ion-item ng-repeat="items in profileById" >

            <div class="list card">

              <div class="item ">
                <h2>{{items.nombre}}</h2>
              </div>

              <div class="item item-body">
                <img class="full-image" src="{{items.img_url}}">

                <ion-list>
                  <ion-item>Modelo: {{items.Modelo}}</ion-item>
                  <ion-item>Ano: {{items.ano | date: 'yyyy' }}</ion-item>
                  <ion-item>Dueno: {{items.nombre}}</ion-item>
                  <ion-item>Placa: {{items.placa}}</ion-item>
                  <ion-list ng-repeat="p in phone" >
                    <ion-item>telefono: {{ p.telefono }}</ion-item>
                  </ion-list>
                  <ion-list ng-repeat="x in emails">
                    <ion-item>email: {{ x.ee }}</ion-item>
                  </ion-list>
                  <ion-item>fecha de ingreso: {{items.fecha_ingreso | date: 'dd/mm/yy' }}</ion-item>
                  <ion-item ng-if="items.status == 'e'"> En espera </ion-item>
                  <ion-item ng-if="items.status == 'l'"> Listo </ion-item>
                  <ion-item ng-if="items.status == 'p'"> Procesando </ion-item>

                </ion-list>
                <p>
                  <a href="#" class="subdued">{{items.listo}} Arreglo listo</a>
                  <a href="#" class="subdued">{{items.nolisto}} Arreglos por terminar</a>
                </p>
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#"> <i class="icon ion-iphone"></i> Llamar </a>
                <a class="tab-item" href="#"> <i class="icon ion-at"></i> E-mail</a>
                <a class="tab-item" href="#"> <i class="icon ion-chatbox-working"></i>Chat</a>
              </div>

            </div>


        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>

</ion-view>

<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;corte&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<ion-view view-title="Perfil">-->
  <!--<ion-content>-->

    <!--<div class="list card">-->

      <!--<div class="item item-avatar">-->
        <!--<img src="http://i1275.photobucket.com/albums/y447/guillohell/2-02_zpsn6w4hwnt.png">-->
        <!--<h2>Nombre</h2>-->
      <!--</div>-->

      <!--<div class="item item-body">-->
        <!--<img class="full-image" src="http://i1275.photobucket.com/albums/y447/guillohell/2-02_zpsn6w4hwnt.png">-->
        <!--<p>-->
         <!--Aqui va la descripcion que se va a usar para el perfil, donde el taller puede escribir cualquier informacion pertinente y que el cliente puede ver.-->
        <!--</p>-->
        <!--<ion-list>-->
          <!--<ion-item>Modelo: lancer</ion-item>-->
          <!--<ion-item>Ano: 2005</ion-item>-->
          <!--<ion-item>Dueno: Pedro Perez</ion-item>-->
          <!--<ion-item>Placa: sdf456</ion-item>-->
          <!--<ion-item>telefono: 123456789</ion-item>-->
          <!--<ion-item>email: pperez@gmail.com</ion-item>-->
          <!--<ion-item>fecha de ingreso: 15/02/2016</ion-item>-->
          <!--<ion-item>status: procesando</ion-item>-->
        <!--</ion-list>-->
        <!--<p>-->
          <!--<a href="#" class="subdued">1 Arreglo listo</a>-->
          <!--<a href="#" class="subdued">5 Arreglos por terminar</a>-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-iphone"></i> Llamar </a>-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-at"></i> E-mail</a>-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-chatbox-working"></i>Chat</a>-->
      <!--</div>-->

    <!--</div>-->

  <!--</ion-content>-->
<!--</ion-view>-->