<ion-view  view-title="Perfil" hide-back-button="true" >
  <ion-nav-buttons ng-controller="ClientesCtrl" side="right" ng-init="setStatus(false)"> <!-- Agregado de Boton addClient LeBEEEEERNS -->
    <!--<button id="editClient" class="button button-icon button-clear ion-android-create"  ng-click="setStatus(true)" ng-if="getStatus() == false"></button>-->
    <!--<button class="button"  ng-click="setStatus(false)" ng-if="getStatus() == true">Terminar</button>-->

  </ion-nav-buttons>
  <ion-nav-buttons ng-controller="ReparacionesCtrl" side="left" > <!-- Agregado de Boton addClient LeBEEEEERNS -->
    <a class="button button-icon ion-ios-arrow-back" ng-click="setStatus(1)" href="#/app/dashboard"></a>
  </ion-nav-buttons>
  <ion-pane ng-controller="ClientesCtrl">
    <ion-content ng-init="getProfile(getId()); getPhone(getId()); getEmails(getId())">
      <ion-list can-swipe="false">
        <ion-item ng-repeat="items in profileById" >

            <div class="list card">

              <div class="item item-button-right">
                <h2>{{items.nombre}}</h2>
                <a class="button" href="#/app/EditRepairs"> Reparaciones </a>
              </div>

              <div class="item item-body">
                <img class="full-image" src="{{items.img_url}}">

                <ion-list ng-if="getStatus() == false">
                  <ion-item>Modelo: {{items.Modelo}}</ion-item>
                  <ion-item>Año: {{items.ano | date: 'yyyy' }}</ion-item>
                  <ion-item>Dueño: {{items.nombre}}</ion-item>
                  <ion-item>Placa: {{items.placa}} </ion-item>
                  <ion-item> Teléfono(s):
                    <ion-list ng-repeat="p in phone" >
                      <ion-item>{{ p.telefono }}</ion-item>
                    </ion-list>
                  </ion-item>
                  <ion-item>E-mail(s):
                    <ion-list ng-repeat="x in emails">
                      <ion-item>{{ x.ee }}</ion-item>
                    </ion-list>
                  </ion-item>
                  <ion-item ng-if="items.fecha_ingreso != null">fecha de ingreso: {{items.fecha_ingreso | date: 'dd/mm/yy' }}</ion-item>
                  <ion-item ng-if="items.status == 'e'">
                    <div class="button-bar">
                      <a class="button button-assertive">En espera</a>
                      <a class="button " ng-click="updateStatus(getId(), 'p')">Proc.</a>
                      <a class="button" ng-click="updateStatus(getId(), 'l')">Listo</a>
                    </div>
                  </ion-item>
                  <ion-item ng-if="items.status == 'p'">
                    <div class="button-bar">
                      <a class="button" ng-click="updateStatus(getId(), 'e')">En espera</a>
                      <a class="button button-energized">Proc.</a>
                      <a class="button" ng-click="updateStatus(getId(), 'l')">Listo</a>
                    </div>
                  </ion-item>
                  <ion-item ng-if="items.status == 'l'">
                    <div class="button-bar">
                      <a class="button" ng-click="updateStatus(getId(), 'e')">En espera</a>
                      <a class="button" ng-click="updateStatus(getId(), 'p')">Proc.</a>
                      <a class="button button-balanced">Listo</a>
                    </div>
                  </ion-item>

                </ion-list>
                <form ng-if="getStatus() == true">
                  <div class="list list-inset" >
                    <label class="item item-input">
                      <input type="text" ng-model="items.Modelo" placeholder="Modelo">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="items.placa" placeholder="Placa">
                    </label>
                    <a type="submit" class="button button-block button-positive" ng-click="updateProfile(getId(), items.Modelo, items.placa); setStatus(false);"> Actualizar perfil </a>
                    <!--<input type="submit" class="button button-block button-positive" value="Agregar reparaciones">-->
                  </div>
                </form>
                <form class="item item-input-inset" ng-if="getStatus() == true">
                  <label class="item-input-wrapper">
                    <input type="text" ng-model="email" placeholder="  Agregar E-mail" >
                  </label>
                  <button class="icon button-icon ion-android-add-circle balanced " ng-click="addEmail(getId(), email); email = '' "></button>
                </form>
                <form class="item item-input-inset" ng-if="getStatus() == true">
                  <label class="item-input-wrapper">
                    <input type="text" ng-model="telf" placeholder="  Agregar Telefono" >
                  </label>
                  <button class="icon button-icon ion-android-add-circle balanced " ng-click="addPhone(getId(), telf); telf='' "></button>
                </form>
                <p>
                  <a href="#" class="subdued">{{items.listo}} Arreglo listo</a>
                  <a href="#" class="subdued">{{items.nolisto}} Arreglos por terminar</a>
                </p>
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#"> <i class="icon ion-iphone"></i> Llamar </a>
                <a class="tab-item" href="#"> <i class="icon ion-at"></i> E-mail</a>
                <a class="tab-item" href="#"> <i class="icon ion-chatbox-working"></i>Chat</a>
              </div>

            </div>


        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>

</ion-view>

<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;corte&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<ion-view view-title="Perfil">-->
  <!--<ion-content>-->

    <!--<div class="list card">-->

      <!--<div class="item item-avatar">-->
        <!--<img src="http://i1275.photobucket.com/albums/y447/guillohell/2-02_zpsn6w4hwnt.png">-->
        <!--<h2>Nombre</h2>-->
      <!--</div>-->

      <!--<div class="item item-body">-->
        <!--<img class="full-image" src="http://i1275.photobucket.com/albums/y447/guillohell/2-02_zpsn6w4hwnt.png">-->
        <!--<p>-->
         <!--Aqui va la descripcion que se va a usar para el perfil, donde el taller puede escribir cualquier informacion pertinente y que el cliente puede ver.-->
        <!--</p>-->
        <!--<ion-list>-->
          <!--<ion-item>Modelo: lancer</ion-item>-->
          <!--<ion-item>Ano: 2005</ion-item>-->
          <!--<ion-item>Dueno: Pedro Perez</ion-item>-->
          <!--<ion-item>Placa: sdf456</ion-item>-->
          <!--<ion-item>telefono: 123456789</ion-item>-->
          <!--<ion-item>email: pperez@gmail.com</ion-item>-->
          <!--<ion-item>fecha de ingreso: 15/02/2016</ion-item>-->
          <!--<ion-item>status: procesando</ion-item>-->
        <!--</ion-list>-->
        <!--<p>-->
          <!--<a href="#" class="subdued">1 Arreglo listo</a>-->
          <!--<a href="#" class="subdued">5 Arreglos por terminar</a>-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-iphone"></i> Llamar </a>-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-at"></i> E-mail</a>-->
        <!--<a class="tab-item" href="#"> <i class="icon ion-chatbox-working"></i>Chat</a>-->
      <!--</div>-->

    <!--</div>-->

  <!--</ion-content>-->
<!--</ion-view>-->
