<ion-view view-title="Repairs" hide-back-button="false">

  <ion-pane ng-controller="ReparacionesCtrl">

    <ion-content class="has-footer" ng-init="getReparaciones(getId())">
      <div>
        <h1>ID: {{ getId() }}</h1>
        <form class="item item-input-inset" >
          <label class="item-input-wrapper">
          <input type="text" ng-model="rep.reparacion" placeholder="  Ej: Base del motor" >
          </label>
          <button class="icon button-icon ion-android-add-circle balanced " ng-click="insertRepair(rep.reparacion, getId())"></button>
          <!--Jurungar       el        codigo                 -->
          <!--)-->

        </form>
      </div>
      <div>
        <ion-list>
          <ion-item  ng-repeat="items in Reparaciones" class="item item-icon-right">
                  {{items}}
                <button class="icon button-icon ion-android-remove-circle assertive " ng-click="deleteReparacion('caucho der') "></button>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
    <div class="bar bar-footer bar-clear">
      <div class="row">
        <div class="col"></div>
        <div class="col col-50 col-center button  button-positive">Terminar</div>
        <div class="col"></div>
      </div>

    </div>
  </ion-pane>


</ion-view>
