<ion-view view-title="Repairs" hide-back-button="false">

  <ion-pane ng-controller="ReparacionesCtrl">

    <ion-content class="has-footer">
      <div>
        <form class="item item-input-inset" ng-submit="getReparacion(rep.reparacion)">
          <label class="item-input-wrapper">
          <input type="text" ng-model="rep.reparacion" placeholder="  Ej: Base del motor" >
          </label>
          <button class="icon button-icon ion-android-add-circle balanced " ng-click="setReparacion(rep.reparacion) "></button>
          <!--Jurungar       el        codigo                 -->


        </form>
      </div>
      <div>
        <ion-list>
          <ion-item  ng-repeat="items in reps" class="item item-icon-right">
                  {{items}}
                <button class="icon button-icon ion-android-remove-circle assertive " ng-click="deleteReparacion(item) "></button>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
    <div class="bar bar-footer bar-clear">
      <div class="row">
        <div class="col"></div>
        <div class="col col-50 col-center button  button-positive">Terminar</div>
        <div class="col"></div>
      </div>

    </div>
  </ion-pane>


</ion-view>
