<ion-view view-title="Repairs" hide-back-button="false">

  <ion-pane>

    <ion-content>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
        <input type="text" placeholder="  Ej: Base del motor">
        </label>
        <button class="icon button-icon ion-android-add-circle balanced "></button>


      </div>



    </ion-content>

  </ion-pane>

  <div class="bar bar-footer bar-positive">
    <a class="button button-clear"> <font size="5"><strong>Submit</strong></font> </a>
  </div>
</ion-view>
