<ion-view view-title="Create Client"  hide-back-button="false">

  <ion-pane>

    <ion-content>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Nombre">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Apellido">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Cedula">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Telefono">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="e-mail">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Modelo">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Año">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Placa">
        </label>
      </div>
      <button class="button button-full button-positive">
        <font size="5"><strong>Submit</strong></font>
      </button>
    </ion-content>

  </ion-pane>

</ion-view>
