<ion-view view-title="Create Client"  hide-back-button="false">

  <ion-pane ng-controller="PopupCtrl">

    <ion-content ng-init="showPopup()">
      <form>
        <div class="list list-inset" ng-if="userStatus == true">
          <h3>Cliente: {{ user.nombre }} {{ user.apellido }}</h3>
          <label class="item item-input">
            <input type="text" ng-model="user.modelo" placeholder="Modelo">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.ano" placeholder="Año">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.placa" placeholder="Placa">
          </label>
          <a type="submit" class="button button-block button-positive" href="#/app/addRepair"> Agregar reparaciones </a>
        </div>
        <div class="list list-inset" ng-if="userStatus == false">
          <label class="item item-input">
            <input type="text" ng-model="user.nombre" placeholder="Nombre">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.apellido" placeholder="Apellido">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.cedula" placeholder="Cedula">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.telefono" placeholder="Telefono">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.email" placeholder="e-mail">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.modelo" placeholder="Modelo">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.ano" placeholder="Año">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.placa" placeholder="Placa">
          </label>
          <a type="submit" class="button button-block button-positive" ng-click="insertClient(user)" href="#/app/addRepair"> Agregar reparaciones </a>
          <!--<input type="submit" class="button button-block button-positive" value="Agregar reparaciones">-->
        </div>
      </form>

      <!--<a class="button button-block button-positive" href="#/app/addRepair">-->
        <!--<font size="5">Agregar Reparaciones</font>-->
      </a>
    </ion-content>

  </ion-pane>

</ion-view>
