

<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>

	  <div class="list">

		  <div class="item item-button-right ">
			  <h1 style="padding-top: 20px;">En Espera</h1>
			  <button class="button button-dash button-assertive" style="font-size:40px; justify-content: center; font-weight: bold;">
				5
			  </button>
		  </div>
      <br><br>
		  <div class="item item-button-left text-right">
			  <h1 style="padding-top: 20px;">En proceso</h1>
			  <button class="button button-dash button-energized" style="font-size:40px; justify-content: center; font-weight: bold;">
				  3
			  </button>
		  </div>
      <br><br>
		  <div class="item item-button-right">
			  <h1 style="padding-top: 20px;">Listos</h1>
			  <button class="button button-dash button-balanced" style="font-size:40px; justify-content: center; font-weight: bold;">
				  2
			  </button>
		  </div>
      <br><br>
		  <div class="item item-button-left text-right">
			  <h1 style="padding-top: 20px">Total en taller</h1>
			  <button class="button button-dash button-calm" style="font-size:40px; justify-content: center; font-weight: bold;">
				  10
			  </button>
		  </div>

	  </div>
	  <!--<div class="form-horizontal">-->
		  <!--<h2 class="text-left">Carros en el taller</h2>-->
		  <!--<button class="btn button-dash">-->
		  <!--<h1>15</h1>-->
		  <!--</button>-->

	  <!--<div class="list">-->

		  <!--<div class="item item-button-right" >-->
			  <!--<h2 class="text-left">Carros en el taller</h2>-->
			  <!--<button class="button-dash button ">-->
				  <!--<h1 class="text-center">5</h1>-->
			  <!--</button>-->
		  <!--</div>-->
		  <!--<div class="item item-button-left">-->
			  <!--<h2 class="text-right">Carros en el taller</h2>-->
			  <!--<button class="button-dash button ">-->
				  <!--<h1>15</h1>-->
			  <!--</button>-->
		  <!--</div>-->

	  <!--</div>-->
	   <!--<div class="card" ng-repeat="profilelist in profiles" >-->
		  <!--<div class="item item-divider">{{profilelist.name}}</div>-->
		  <!--<div class="item item-text-wrap">{{profilelist.deseg}}</div>-->
	  <!--</div>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
