<ion-view view-title="Repairs" hide-back-button="true">

  <ion-pane ng-controller="ReparacionesCtrl">

    <ion-content class="has-footer" ng-init="getReparaciones(getId())">
      <div>
        <form class="item item-input-inset" >
          <label class="item-input-wrapper">
          <input type="text" ng-model="rep.reparacion" placeholder="  Ej: Base del motor" >
          </label>
          <button class="icon button-icon ion-android-add-circle balanced " ng-click="insertRepair(rep, getId())"></button>
          <!--Jurungar       el        codigo                 -->
          <!--)-->

        </form>
      </div>
      <div ng-init="getReparaciones(getId())">
        <ion-list can-swipe="true">
          <ion-item  ng-repeat="items in Reparaciones" class="item item-icon-right">
                  {{items.descripcion}} <p>{{ items.costo }}</p>
            <button ng-if="items.status == false" ng-click="updateStatusR(items.id, true)" class="icon button-icon ion-android-checkbox-outline-blank assertive "></button>
            <button ng-if="items.status == true" ng-click="updateStatusR(items.id, false)" class="icon button-icon ion-android-checkbox-outline balanced "></button>

            <!--<ion-option-button class="button-assertive" ng-click="deleteReparacion(items.id)" >Borrar</ion-option-button>-->
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
    <div class="bar bar-footer bar-clear">
      <div class="row">
        <div class="col"></div>
        <a class="col col-50 col-center button  button-outline button-stable" ng-click="Regresar()">Regresar</a>
        <div class="col"></div>
      </div>

    </div>
  </ion-pane>


</ion-view>
